<!DOCTYPE html>
<html lang="en">
  <head>
        <meta charset="UTF-8">
        <title>{% block title %}Dashboard{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.3.5/dist/alpine.min.js" defer></script>
    </head>
{% block shylesheets %}
{{encore_entry_link_tags('app')}}
 {% endblock %}
<body>
 {% block body %}
 {% endblock %}

 {% block javascript %}
 {{encore_entry_script_tags('app')}}
    {% endblock %}
</body>
</html>